container_commands:
	10_install_and_enable_epel_release:
		command: "sudo amazon-linux-extras install epel -y"
		ignoreErrors: true
		test: test ! -d "/etc/letsencrypt/"
	30_install_certbot:
		command: "sudo yum install -y certbot python2-certbot-nginx"
		ignoreErrors: true
		test: test ! -d "/etc/letsencrypt/"